---
layout: layouts/home.njk
image: /blog/img/remote/4025_philosopher_pondering.jpg
permalink: /posts/
headerImagePosition: center 70%
---

<h1>Posts</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
