---
title: Welcome! ᓚᘏᗢ
layout: layouts/home.njk
description:
image: /blog/img/remote/minimalistic_mountains.jpg
date: Last Modified
---

<style>
  ul, ol {
    list-style-position: inside;
    padding-left: 0;
  }

  li {
    font-style: italic;
  }

.professional-statement {
  font-size: 18px;
  line-height: 1.6;
  width: 100%; /* Take full width of container */
  margin: 0 auto;
  text-align: center;
}

.intro {
  position: relative;
  padding: 15px;
  background-color: #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%; /* Take full width of container */
}
</style>


<div class="professional-statement">
  <div class="body">
    <div style="text-align: left;" class="intro">
          <p>I'm a software engineer with a master's degree 🎓 in <i>Electrical & Systems Engineering</i> from <i>University of Pennsylvania</i> with experience in:</p>
            <ul style="list-style: none; padding-left: 20px;">
              <li style="margin: 10px 0; border-left: 3px solid #ffffff; padding-left: 15px;">Autonomous Robotics 🏎️ using ROS/ROS2</li>
              <li style="margin: 10px 0; border-left: 3px solid #ffffff; padding-left: 15px;">AR/VR Game Development 📺 with Unity and ASP.NET</li>
              <li style="margin: 10px 0; border-left: 3px solid #ffffff; padding-left: 15px;">Deep Learning 🕸️ leveraging PyTorch and HuggingFace</li>
            </ul>
    </div>
    <div style="text-align: left;" class="intro">
          <hr style="border: 1px dashed #ffffff; opacity: 0.5;">
          <p>I'm currently fascinated by how we can teach AI agents 🧠 to reason and abstract, especially at the intersection of <i>Neuro Symbolic Theorem Proving</i>, <i>Liquid Neural Networks</i>, <i>Composable Energy Based Models</i>, <i>Geometric Deep Learning</i>, and <i>Deep Reinforcement Learning</i>.</p>
          <p>As a lifelong learner 🌎, I'm driven by curiosity and believe in using scientific methodologies 🧪 to bring about positive change and a better future 🌿</p>
          <p>If you're interested in collaborating or just want to chat, feel free to reach out! 💬</p>
          <hr style="border: 1px dashed #ffffff; opacity: 0.5;">
    </div>
  </div>

  {% set postslist = collections.posts %}
  {% if postslist | length > 0 %}
    <div id="posts">
      <h4>Entries</h4>
      {% include "postslist.njk" %}
    </div>
  {% endif %}

  <div id="publications">
    <h4>Publications</h4>
    <ul>
      <li><a href="https://arxiv.org/abs/2411.05821">Benchmarking Vision, Language, & Action Models On Robotic Learning Tasks</a> | <a href="https://multinet.ai/">project page</a> | <a href="https://arxiv.org/abs/2411.05821">paper</a> | <a href="https://github.com/ManifoldRG/MultiNet?tab=readme-ov-file">code</a> | Nov 2024
      </li>
    </ul>
  </div>

</div>

