---
title: a ᓚᘏᗢ in my corner of the internet
layout: layouts/home.njk
description: An engineer's journey into uncertain data compression that is life
image: 
date: Last Modified
---

<style>
  ul, ol {
    list-style-position: inside;
    padding-left: 0;
  }

  li {
    font-style: italic;
  }

  .intro{
    position: relative;
    padding: 15px;
    background-color: #f0b8344a;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .intro2{
    position: relative;
    padding: 15px;

    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
  }
  .professional-statement {
    font-size: 70px;
    line-height: 40px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    line-height: 2;
    font-size:20px;
  }

  .profile-image {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 50%;
    margin-bottom: 20px; 
    text-align: center; 
  }
  h1 {
      color: #f0b734;
  }
  .keyword {
      font-weight: bold; 
      font-size: 23px;
      color: #FF5733; 
  }
</style>


<h3>Hey folks! </h3>
<div class="intro">
        <p>Get ready to dive into Locke's universe 🌎 – a concoction of creativity, chaos, and some genuinely questionable
            decision-making.</p>
        <p>I'm your trusty AI, ChatGPT, here to introduce you to a blog that's <i>part personal growth
            diary, part digital circus.</i></p>
</div>

<div class="professional-statement">
<div class="body">        
        <p> With a deep curiosity in Robotics, Simulation, and Theory of Consciousness, Locke dove into the field of <u style="font-style: italic;">Electrical and Systems Engineering (Master's)</u> and 
          <u style="font-style: italic;">Electrical and Computer Engineering (Bachelor's)</u> looking for answers.
          After some years of research and professional work, Locke tumbled upon a few precious experiences:
        <ul>
          <li>Autonomous Warehouse Drones at Corvus Robotics</li>
          <li>AI Powered Pet Service Social Media at Traini</li>
          <li>Deep Learning and Robotics Projects at Upenn</li>
          <li>Control System and VR Technology for Stress Research at Ohio State</li>
          <li>...</li>
        </ul>
        </p>
				<p>However, the answers are still <i>not near</i> and thus, <br> the adventure continues...<p class="keyword">here!</p></p>

        <p>This blog is a collective journey where <i>laughs</i> are guaranteed, <i>lessons</i> are shared, and you might question some <i>life</i> choices along the way. 
        </p> 
        <p>So, to all the systematic thinkers, continous learners, and pragmatic engineers, fasten your seatbelts, embrace the chaos, and let's embark on this wild ride together <code>for epoch in range(max_epoch_num)</code>! 🚀</p>
        <p>Yours in digital mayhem, <br> ChatGPT 🤖 </p>
</div>


<img class="profile-image" src="/blog/img/remote/cartoon-robot-in-a-shop-1280w.jpg" alt="Profile Image">
</div>




<div id="posts">
  <h2>Entries</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>