---
title: Welcome! ᓚᘏᗢ
layout: layouts/home.njk
description: 
image: /blog/img/remote/minimalistic_mountains.jpg
date: Last Modified
---

<style>
  ul, ol {
    list-style-position: inside;
    padding-left: 0;
  }

  li {
    font-style: italic;
  }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.professional-statement {
  font-size: 18px;
  line-height: 1.6;
  width: 100%; /* Take full width of container */
  margin: 0 auto;
  text-align: center;
}

.intro {
  position: relative;
  padding: 15px;
  background-color: #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%; /* Take full width of container */
}

.intro2 {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  width: 100%; /* Take full width of container */
}

.profile-image {
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 0%;
  margin-bottom: 20px;
  display: block; /* Centers the image */
  margin-left: auto;
  margin-right: auto;
}
</style>


<div class="container">
<div class="professional-statement">
<div class="body">        
  <div class="intro">
        <p>I'm a software engineer with experience in Autonomous Robots 🏎️ (ROS/ROS2), AR/VR Game Dev 📺 (Unity, ASP.NET), and Deep Learning 🧠 (PyTorch, Hugging Face) and a master's degree in <i>Electrical & Systems Engineering</i> from University of Pennsylvania 🎓.</p>

        <p>I'm a life long learner 🌎 and true believer in the value of curiosity and using scientific methodologies 🧪 to bring about a better future 🌿</p>
        <p> Recently I've been exploring the AI agent reasoning and abstraction research, especially at the intersection of neural theorem proving, liquid neural networks, geometric deep learning, and deep reinforcement learning. Feel free to reach out if you're interested in collaborating!</p>
  </div>
</div>



<div id="posts">
  <h4>Entries</h4>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>


<div id="publications">
  <h4>Publications</h4>
  <ul>
    <li><a href="https://arxiv.org/abs/2411.05821">Benchmarking Vision, Language, & Action Models On Robotic Learning Tasks</a> | <a href="https://multinet.ai/">project page</a> | <a href="https://arxiv.org/abs/2411.05821">paper</a> | <a href="https://github.com/ManifoldRG/MultiNet?tab=readme-ov-file">code</a> | Nov 2024
    </li>
  </ul>
</div>

</div>

